$white: rgba(255, 255, 255, 1);
$black: rgba(8, 8, 9, 1);
$ctaAndLink: rgba(238, 50, 92, 1);
$underline: rgba(238, 50, 92, 0.2);
$heroPrimary: rgba(61, 46, 128, 1);
$heroSecondary: rgba(220, 25, 105, 1);
$border: rgba(214, 216, 221, 1);
$input: rgba(245, 245, 245, 1);
$shadow: rgba(0, 0, 0, 0.1498);
$popupOverlay: rgba(255, 255, 255, 0.5);
$green: green;
$red: red;


